/* Header */

#header {
    color: #ffffff;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    pointer-events: none;
    user-select: none;
    height: 20rem;
    padding-bottom: 8rem;
    position: relative;
    text-align: center;
    z-index: 2;
}

#header input, #header select, #header textarea {
    color: #ffffff;
}

#header a {
    color: #ffffff;
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

#header a:hover {
    border-bottom-color: transparent;
    color: #18bfef !important;
}

#header strong, #header b {
    color: #ffffff;
}

#header h1, #header h2, #header h3, #header h4, #header h5, #header h6 {
    color: #ffffff;
}

#header blockquote {
    border-left-color: #ffffff;
}

#header code {
    background: rgba(255, 255, 255, 0.075);
    border-color: #ffffff;
}

#header hr {
    border-bottom-color: #ffffff;
}

#header .logo {
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
    pointer-events: auto;
    border-style: solid;
    border-color: #ffffff;
    border-width: 5px !important;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 2.25rem;
    font-weight: 900;
    letter-spacing: 0.075em;
    line-height: 1;
    padding: 1rem 1.75rem;
    text-transform: uppercase;
    visibility: visible;
}

#header .logo:hover {
    border-color: #18bfef !important;
    color: #18bfef !important;
}

@media screen and (max-width: 980px) {

    #header {
        height: 14rem;
        padding-bottom: 4rem;
    }

}

@media screen and (max-width: 736px) {

    #header {
        padding-bottom: 3rem;
    }

    #header .logo {
        font-size: 1.75rem;
        border-width: 3px !important;
    }

}