/* Input File */

.drop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 200px;
    padding: 20px;
    border: 1px dashed #aaa;
    border-radius: 0.25em;
    color: #000000;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
    background: #eee;
}

.drop-title {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.drop-container.drag-active {
    background: #eee;
}

input[type="file"] {
    transition: all 0.25s ease-in-out;
    position: relative;
    display: inline-block;
    padding: 0.85em 3em 0.85em 3em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    max-width: 100%;
    color: #000000;
    background-color: #fff;
    border: 1px solid #000000;
}

input[type=file]:focus {
    outline: 2px dashed #000000 !important;
    outline-offset: 2px;
}

input[type=file]::file-selector-button {
    margin-right: 8px;
    border: none;
    background: #000000;
    padding: 8px 12px;
    color: #fff;
    cursor: pointer;
}

input[type=file]::file-selector-button:hover {
    background: #18bfef;
}